.title {
  font-size: 20px;
  color: rgb(240, 136, 40);
  font-weight: "500";
  margin: 0;
  padding: 0;
}

.description {
  margin: 0;
  color: blue;
  margin: 0 0 20px 0;
}

.post-item {
  margin-bottom: 20px;
}
